
 <div class="content-frame-top">                        
                        <div class="page-title">                    
                            <h2><span class="fa fa-image"></span>Rome Hotel</h2>
                        </div>                                      
                         <!-- START CONTENT FRAME BODY -->
                    <div class="content-frame-body content-frame-body-left">
                        <div class="gallery">
                              <a class="gallery-item" routherlink="/gallery/paris" title="Rome Image 2" data-gallery>
                                <div class="image">
                                    <img src="assets/images/gallery/hotel rome1(quirinale).jpg" alt="Girls Image 1"/>                                        
                                    <ul class="gallery-item-controls">
                                        <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                                        <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                                    </ul>                                                                    
                                </div>
                                <div class="meta">
                                    <strong>ROME3</strong>
                                    <span>Vatican Museum</span>
                                </div>                                
                            </a>
                            
                            <a class="gallery-item" routherlink="/gallery/paris" title="Rome Image 3" data-gallery>
                                <div class="image">
                                    <img src="assets/images/gallery/hotel rome2(quirinale).jpg" alt="Nature Image 2"/>    
                                    <ul class="gallery-item-controls">
                                        <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                                        <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                                    </ul>                                                                    
                                </div>
                                <div class="meta">
                                    <strong>Paris</strong>
                                    <span>Colosseum</span>
                                </div>                                
                            </a>
                            
                            <a class="gallery-item" routherlink="/gallery/paris" title="Rome picture 2" data-gallery>
                                <div class="image">
                                    <img src="assets/images/gallery/hotel rome9(quirinale).jpg" alt="Space picture 1"/>    
                                    <ul class="gallery-item-controls">
                                        <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                                        <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                                    </ul>                                                                    
                                </div>
                                <div class="meta">
                                    <strong>Paris</strong>
                                    <span>Victor Emmanuel II Monument</span>
                                </div>                                
                            </a>
                            
                             <a class="gallery-item" routherlink="/gallery/paris" title="Newyork Image 3" data-gallery>
                                <div class="image">
                                    <img src="assets/images/gallery/hotel rome6(quirinale).jpg" alt="Music picture 2"/>    
                                    <ul class="gallery-item-controls">
                                        <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                                        <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                                    </ul>                                                                    
                                </div>
                                <div class="meta">
                                    <strong>Paris</strong>
                                    <span>St. Patrick's Cathedral</span>
                                </div>                                
                            </a>
                            
                                   <a class="gallery-item" routherlink="/gallery/paris"  title="Newyork Image 3" data-gallery>
                                <div class="image">
                                    <img src="assets/images/gallery/hotel rome5(quirinale).jpg" alt="Nature Image 3"/>    
                                    <ul class="gallery-item-controls">
                                        <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                                        <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                                    </ul>                                                                    
                                </div>
                                <div class="meta">
                                    <strong>Rome</strong>
                                    <span>Corona Park</span>
                                </div>                                
                            </a> 
                   
                                                                                    
                                                                                            
                                                          
                                                                
                                                        
                             
                        </div>                        
                    </div>
 
<p>
  rome works!
</p>
