   <div class="content-frame-top">                        
       <div class="page-title">                    
        <h2><span class="fa fa-image"></span> Gallery</h2>
        </div> 
         <!-- START CONTENT FRAME BODY -->
         <div class="content-frame-body content-frame-body-left">
             <div class="gallery">
             <a class="gallery-item"  title="Rome Image 1" data-gallery >
                 <div class="image">                              
                     <img src="assets/images/gallery/rome1.jpg" alt="Nature Image 1"/>
                     <ul class="gallery-item-controls">
                         <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                          <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                     </ul>                                                                    
                  </div>
                  <div class="meta"><strong> ROME 1</strong><span> Trevi Fountain</span></div>                                
            </a>
              <a class="gallery-item"  title="Rome picture 1" data-gallery>
                  <div class="image">
                      <img src="assets/images/gallery/rome2.jpg" alt="Music picture 1"/>    
                          <ul class="gallery-item-controls">
                              <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                              <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                      </ul>                                                                    
                  </div>
                  <div class="meta"><strong>ROME2</strong><span>Pantheon</span>
                  </div> 
              </a>
              <a class="gallery-item"  title="Rome Image 2" data-gallery>
                  <div class="image">
                      <img src="assets/images/gallery/rome3.jpg" alt="Girls Image 1"/>                                        
                         <ul class="gallery-item-controls">
                             <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                             <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                         </ul>                                                                    
                     </div>
                     <div class="meta"><strong>ROME3</strong><span>Vatican Museum</span>
                     </div>
               </a>
               <a class="gallery-item"  title="Rome Image 3" data-gallery>
                   <div class="image">
                       <img src="assets/images/gallery/rome0.jpg" alt="Nature Image 2"/>    
                           <ul class="gallery-item-controls">
                               <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                               <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                        </ul>                                                                    
                    </div>
                    <div class="meta"><strong>ROME4</strong><span>Colosseum</span> </div> 
                </a> 
                <a class="gallery-item"  title="Rome picture 2" data-gallery>
                    <div class="image">
                        <img src="assets/images/gallery/rome5.jpg" alt="Space picture 1"/>    
                            <ul class="gallery-item-controls">
                                <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                                <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                       </ul>                                                                    
                     </div>
                     <div class="meta"><strong>ROME</strong><span>Victor Emmanuel II Monument</span> </div> 
                </a>
                <a class="gallery-item"  title="Newyork picture 2" data-gallery>
                    <div class="image">
                        <img src="assets/images/gallery/new1.jpg" alt="Music picture 2"/>    
                            <ul class="gallery-item-controls">
                                <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                                <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                            </ul>                                                                    
                     </div>
                     <div class="meta"><strong>New-York1</strong> <span>St. Patrick's Cathedral</span></div> 
                 </a>
                 <a class="gallery-item"   title="Newyork Image 3" data-gallery>
                      <div class="image">
                           <img src="assets/images/gallery/new2.jpg" alt="Nature Image 3"/>    
                               <ul class="gallery-item-controls">
                                   <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                                   <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                               </ul>                                                                    
                      </div>
                      <div class="meta"><strong>New-York2</strong><span>Corona Park</span>
                      </div>                                
                 </a>
                 <a class="gallery-item" title="Newyork Image 4"title="Newyork Image 4" data-gallery >
                     <div class="image">
                         <img  class="image" src="assets/images/gallery/new6.jpg" alt="Girls Image 2"/> 
                             <ul class="gallery-item-controls">
                                 <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                                 <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                             </ul> 
                     </div>
                     <div class="meta"><strong>New-York3</strong><span>Brooklyn Bridge</span></div>  
                 </a>                                               
             </div>    
         </div>
         <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" >
           <div class="slides"></div>
           <h3 class="title"></h3><a class="prev">‹</a><a class="next">›</a><a class="close">×</a><a class="play-pause"></a><ol class="indicator"></ol 
        </div>         
</div>       
           


