gallery {
    display: grid;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery-item {
    width: 230px;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    background: #fff;
}

.gallery-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.meta {
    padding: 10px;
    font-size: 14px;
}