         
<div class="container">              
                <!-- PAGE CONTENT WRAPPER -->
     <div class="page-content-wrap">
          <div class="row">
               <div class="col-md-12">

                        <div class="col-md-3">
                            <!-- CONTACT ITEM -->
                            <div class="panel panel-default">
                                <div class="panel-body profile"><a routherlink="/message"></a>
                                    <div class="profile-image">
                                        <img src="assets/images/gallery/hotel newyork11.jpg" alt="Nadia Ali"/>
                                    </div>
                                    <div class="profile-data">
                                        <div class="profile-data-name">Hotel Quirinale</div>
                                        <div class="profile-data-title">Newyourk</div>
                                    </div>
                                    <div class="profile-controls">
                                       <!-- <a href="#" class="profile-control-right"><span class="fa fa-phone"></span></a>-->
                                    </div>
                                </div>                                
                                <div class="panel-body">                                    
                                    <div class="contact-info">
                                        <h4><p><small>Rooms</small><br/>30 guestrooms</p></h4>
                                        <h4><p><small>Breakfast</small><br/> available</p></h4>                                   
                                    </div>
                                </div>
                            </div>
                            <!-- END CONTACT ITEM -->
                        </div>

                        <div class="col-md-3">
                            <!-- CONTACT ITEM -->
                            <div class="panel panel-default">
                                <div class="panel-body profile"><a routherlink="/message"></a>
                                    <div class="profile-image">
                                        <img src="assets/images/gallery/hotel newyork1.jpg" alt="Dmitry Ivaniuk"/>
                                    </div>
                                    <div class="profile-data">
                                        <div class="profile-data-name">Hotel Quirinale</div>
                                        <div class="profile-data-title">Newyourk</div>
                                    </div>
                                    <div class="profile-controls">
                                        <!--<a href="#" class="profile-control-right"><span class="fa fa-phone"></span></a>-->
                                    </div>
                                </div>                                
                                <div class="panel-body">                                    
                                    <div class="contact-info">
                                        <h4><p><small>Parking</small><br/>Valet parking</p></h4>
                                        <h4><p><small>Main amenities</small><br/>Airport shuttle</p></h4>                                         
                                    </div>
                                </div>                                
                            </div>
                            <!-- END CONTACT ITEM -->
                        </div>

                        <div class="col-md-3">
                            <!-- CONTACT ITEM -->
                            <div class="panel panel-default">
                                <div class="panel-body profile"><a routherlink="/message"></a>
                                    <div class="profile-image">
                                        <img src="assets/images/gallery/hotel newyork2.jpg" alt="John Doe"/>
                                    </div>
                                    <div class="profile-data">
                                        <div class="profile-data-name">Rosvelt Hotel </div>
                                        <div class="profile-data-title">Newyourk</div>
                                    </div>
                                </div>                                
                                <div class="panel-body">                                    
                                    <div class="contact-info">
                                        <h4><p><small>front desk</small><br/>24-hour front desk</p></h4>
                                        <h4><p><small>Coffee/tea</small><br/> in a common area</p></h4>
                                        
                                    </div>
                                </div>                                
                            </div>
                            <!-- END CONTACT ITEM -->
                        </div>

                        <div class="col-md-3">
                            <!-- CONTACT ITEM -->
                            <div class="panel panel-default">
                                <div class="panel-body profile"><a routherlink="/message"></a>
                                    <div class="profile-image">
                                        <img src="assets/images/gallery/hotel newyork3.jpg" alt="Brad Pitt"/>
                                    </div>
                                    <div class="profile-data">
                                        <div class="profile-data-name">Hotel Quirinale</div>
                                        <div class="profile-data-title">Newyourk</div>
                                    </div>
                                </div>                                
                                <div class="panel-body">                                    
                                    <div class="contact-info">
                                        <h4><p><small>Mobile</small><br/>Daily housekeeping</p></h4>
                                       <h4><p><small>Email</small><br/>Library</p></h4>                                   
                                    </div>
                                </div>                                
                            </div>
                            <!-- END CONTACT ITEM -->
                        </div>

                        <div class="col-md-3">
                            <!-- CONTACT ITEM -->
                            <div class="panel panel-default">
                                <div class="panel-body profile"><a routherlink="/message"></a>
                                    <div class="profile-image">
                                        <img src="assets/images/gallery/hotel newyork5.jpg" alt="John Travolta"/>
                                    </div>
                                    <div class="profile-data">
                                        <div class="profile-data-name">Hotel Quirinale</div>
                                        <div class="profile-data-title">Newyourk</div>
                                    </div>
                                    <div class="profile-controls">
                                        <!--<a href="#" class="profile-control-right"><span class="fa fa-phone"></span></a>-->
                                    </div>
                                </div>                                
                                <div class="panel-body">                                    
                                    <div class="contact-info">
                                        <h4><p><small></small><br/>Computer station</p></h4>
                                       <h4><p><small>Email</small><br/>Free WiFi</p></h4>                                 
                                    </div>
                                </div>                                
                            </div>
                            <!-- END CONTACT ITEM -->
                        </div>

                        <div class="col-md-3">
                            <!-- CONTACT ITEM -->
                            <div class="panel panel-default">
                                  <div class="panel-body profile"><a routherlink="/message"></a>
                                      <div class="profile-image">
                                          <img src="assets/images/gallery/1.jpg" alt="Darth Vader"/>
                                      </div>
                                      <div class="profile-data">
                                          <div class="profile-data-name">Hotel Quirinale</div>
                                          <div class="profile-data-title">Newyourk</div>
                                      </div>
                                      <div class="profile-controls">
                                          <!--<a href="#" class="profile-control-right"><span class="fa fa-phone"></span></a>-->
                                      </div>
                                  </div>                                
                                  <div class="panel-body">                                    
                                      <div class="contact-info">
                                          <h4><p><small></small><br/>Childcare</p></h4>
                                          <h4><p><small>Email</small><br/>Bar/lounge</p></h4>                                  
                                      </div>
                                  </div>                                
                            </div>
                            <!-- END CONTACT ITEM -->
                         </div>
               </div>
          </div>
    </div>
</div> 

