
<div class="content-frame-top">
<div class="page-title">
  <h2><span class="fa fa-image"></span>Newyork Hotel</h2>
</div>
<!-- START CONTENT FRAME BODY -->
<div class="content-frame-body content-frame-body-left">
    <div class="gallery"> 
        <a class="gallery-item" routherlink="/gallery/paris" title="Rome Image 2" data-gallery>
        <div class="image"><img src="assets/images/gallery/hotel newyork8.jpg" alt="Girls Image 1"/>
            <ul class="gallery-item-controls">
                <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
            </ul>
        </div>
        <div class="meta"><strong>Newyork</strong> <span>Vatican Museum</span></div>
        </a> 
        <a class="gallery-item" routherlink="/gallery/paris" title="Rome Image 3" data-gallery>
            <div class="image"> <img src="assets/images/gallery/hotel newyork10.jpg" alt="Nature Image 2"/>
                <ul class="gallery-item-controls">
                    <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                    <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                </ul>
            </div>
            <div class="meta"> <strong>Newyork</strong> <span>Colosseum</span></div>
         </a>
        <a class="gallery-item" routherlink="/gallery/paris" title="Rome Image 3" data-gallery>
        <div class="image"> <img src="assets/images/gallery/hotel newyork9.jpg" alt="Nature Image 2"/>
             <ul class="gallery-item-controls">
                 <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                 <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
             </ul>
        </div>
       <div class="meta"> <strong>Newyork</strong> <span>Colosseum</span> </div>
       </a>
       <a class="gallery-item" routherlink="/gallery/paris" title="Rome picture 2" data-gallery>
          <div class="image"> <img src="assets/images/gallery/hotel newyork1.jpg" alt="Space picture 1"/>
              <ul class="gallery-item-controls">
                  <li><label class="check"><input type="checkbox" class="icheckbox"/></label></li>
                  <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                  <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
             </ul>
         </div>
       <div class="meta"><strong>Newyork</strong><span>Victor Emmanuel II Monument</span></div>
       </a> 
       <a class="gallery-item" routherlink="/gallery/paris" title="Newyork Image 3" data-gallery>
          <div class="image"> <img src="assets/images/gallery/hotel newyork2.jpg" alt="Music picture 2"/>
              <ul class="gallery-item-controls">
                  <li><label class="check"><input type="checkbox" class="icheckbox"/></label> </li>
                   <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
              </ul>
              <!----> 
         </div>
    <div class="meta"> <strong>Newyork</strong> <span>St. Patrick's Cathedral</span></div>
    </a> 
    </div>
</div>
